
@import url("https://use.typekit.net/bgf2wdh.css");


/* STUFF */


@keyframes colorchange {
    0% {
        background: #f4dfe2;
    }

    10% {
        background: #f5dccc;
    }

    20% {
        background: #f5f3cc;
    }

    30% {
        background: #c3e7c4;
    }

    40% {
        background: #c3e7e7;
    }

    50% {
        background: #c3d6e7;
    }

    60% {
        background: #bdbdee;
    }

    70% {
        background: #e0d6ed;
    }

    80% {
        background: #ecd6f2;
    }

    90% {
        background: #f4cee7;
    }

    100% {
        background: #f4dfe2;
    }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
    {
    0% {
        background: #f4dfe2;
    }

    10% {
        background: #f5dccc;
    }

    20% {
        background: #f5f3cc;
    }

    30% {
        background: #c3e7c4;
    }

    40% {
        background: #c3e7e7;
    }

    50% {
        background: #c3d6e7;
    }

    60% {
        background: #bdbdee;
    }

    70% {
        background: #e0d6ed;
    }

    80% {
        background: #ecd6f2;
    }

    90% {
        background: #f4cee7;
    }

    100% {
        background: #f4dfe2;
    }
}
