.main-container {
    background: lavender;
    max-height: 100%;
}


.collage-wrapper > .album-box {

    flex: 1 0 calc(33.333% - 20px);
}

.album-box {
    display: inline-block;
    margin: 1vw;
    background-image: url();
    border: 1px solid #fff;
    z-index: 999;
    background-size: cover;
    position: relative;
}

/*
.album-box:hover + .album-box p {
    display: block;
}*/

.album-box p {
    pointer-events: none;
    position: absolute;
    top: 10vw;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    color: transparent;
}


.album-box:hover p {
    color: black !important;
}

.album-box:hover {
    opacity: 0.9;
}



.collage-wrapper > .album-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.album-type img {
    max-height: 100%;
}


/* where albums are displayed */

.album-list {
    z-index: 9999;
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 1em;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: baseline;
    position: fixed;
    background: black;
}


/* collage part */

.collage-area {
    background: cyan;
    display: inline-block;
    height: 70%;
    width: 100%;
}

.collage-wrapper {
    box-sizing: border-box;
    max-width: 600px;
    padding: 1em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* search area */

.search-area {
    padding: 1em;
    align-content: center;
    justify-content: center;
    display: flex;
}
