/*  Color 
    to be used for modes later on, maybe? */

$bg: #fbfdfd;


/* Main Styling */

*,html {}

body {
    background: $bg;
    //animation: colorchange 30s infinite;
    /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    //-webkit-animation: colorchange 30s infinite;
    /* Chrome and Safari */

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}



/* Draggable duplicates divs with this fucking calculation problem */


.collage-wrapper .album-box {
    width: 30%;
    
}

.album-box {
    display: inline-block;
    box-sizing: border-box;
    margin: .3em;
    background-image: url();
    border: 1px solid #1f1c1c;
    z-index: 999;
    background-size: cover;
    width: calc(96% / 3.3);
    height: calc(96% / 3.3);
    touch-action: manipulation;
    cursor: pointer;


    p {
        pointer-events: none;
        position: absolute;
        top: 30%;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: 1em;
        color: transparent;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}


.alb-item {
    touch-action: manipulation;
}

/*
.album-box:hover + .album-box p {
    display: block;
}*/


.album-box:hover p {
    color: black !important;
}

.album-box:hover {
    opacity: 0.9;
}



.collage-wrapper > .album-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.album-type img {
    max-height: 100%;
}


/* where albums are displayed */

.album-list {
    display:inline-block;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 1em;
    left: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: baseline;
    background: black;
}

.album-list > .album-box {
    border: none;
}


/* collage part */

.collage-area {
    background:red;
    border-bottom:10px solid blue;
    display:flex;

    
    //background: $bg;
    /*animation: colorchange 30s infinite;
    -webkit-animation: colorchange 30s infinite;*/
    
    max-height:80%;

    text-align: center;

}

.collage-wrapper {

    cursor: pointer;
    background:yellow;
    box-sizing: border-box;

    margin:auto;    
    width:90%;
    max-width:630px !important;
    align-content: space-between;
    justify-content: space-between;


    .collage-row{
      //  display:block;
    }
    
    /* box sizing */
    
    .alb-size-one{
        width: calc(96% / 3);
        height: calc(96% / 3);
        background:yellow;
    }
    
    
    .alb-size-two{
        width: calc(91% / 5);
        height: calc(91% / 5);
        background:blue;
    }

    

    .alb-size-three{
        width: calc(100% / 7);
        height: calc(100% / 7);
        background:red;
    }


}

/* search area */



.main {
    width: 100%;
}

.header-container{
    
    .header-title{
    font-family: "Robot Mono", monospace;
    }
}

.search-area {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em;
    align-content: center;
    justify-content: center;
    display: flex;
    min-height: 90px;
    border: none;
    background:blue;
    
    
    .divider-vert{
        height:22px;
        width:1px;
        display:inline-block;
        background:#2c2626;
    }
    
    button {
    background:#fff;
    border: 1px solid transparent;
    text-align: center !important;
    margin: .4em;
    padding: .3em 1em .3em 1em;
    font-family: "Robot Mono", monospace;
    font-size: 13px;
    }

    
    button:hover{
        background:#000;
        color:#fff;
    }
    
    input[type=search] {
    display: block;
    border:transparent;
    border-bottom:1px solid #272222;
    padding: .5em;
    font-family: "Work Sans";
    min-width: 280px;
    font-weight:100 !important;
    text-align: center;
    margin: .4em;
    }
    
    .btn-saveimage {
    margin: .3em;
    font-family: "Robot Mono", monospace;
    font-size: 13px;
    }
}

    @media  only screen and (max-width: 800px) {
        .header-bar{
            display:none;
            background:red;
        }
        
    input[type=search] {
        min-width: 50px !important;
        display:inline-block !important;
        }
        
        .btn-sizes{display:none;}

    }


@keyframes colorchange {
    0% {
        background: #f4dfe2;
    }

    10% {
        background: #f5dccc;
    }

    20% {
        background: #f5f3cc;
    }

    30% {
        background: #c3e7c4;
    }

    40% {
        background: #c3e7e7;
    }

    50% {
        background: #c3d6e7;
    }

    60% {
        background: #bdbdee;
    }

    70% {
        background: #e0d6ed;
    }

    80% {
        background: #ecd6f2;
    }

    90% {
        background: #f4cee7;
    }

    100% {
        background: #f4dfe2;
    }
}

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */
    {
    0% {
        background: #f4dfe2;
    }

    10% {
        background: #f5dccc;
    }

    20% {
        background: #f5f3cc;
    }

    30% {
        background: #c3e7c4;
    }

    40% {
        background: #c3e7e7;
    }

    50% {
        background: #c3d6e7;
    }

    60% {
        background: #bdbdee;
    }

    70% {
        background: #e0d6ed;
    }

    80% {
        background: #ecd6f2;
    }

    90% {
        background: #f4cee7;
    }

    100% {
        background: #f4dfe2;
    }
}
