.main-container {
    background: lavender;
    max-height: 100%;
}



/* Draggable duplicates divs with this fucking calculation problem */


.collage-wrapper .album-box {
    width: 30%;
}

.album-box {
    display: inline-block;
    box-sizing: border-box;
    margin: .3em;
    background-image: url();
    border: 1px solid #fff;
    z-index: 999;
    background-size: cover;
    position: relative;
    min-height: 100px;
    min-width: 100px;
}

/*
.album-box:hover + .album-box p {
    display: block;
}*/

.album-box p {
    pointer-events: none;
    position: absolute;
    top: 30%;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    color: transparent;
}


.album-box:hover p {
    color: black !important;
}

.album-box:hover {
    opacity: 0.9;
}



.collage-wrapper > .album-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.album-type img {
    max-height: 100%;
}


/* where albums are displayed */

.album-list {
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding: 1em;
    left: 0;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: baseline;
    background: black;
}

.album-list > .album-box {
    border: none;
}


/* collage part */

.collage-area {
    background: cyan;
    display: inline-block;
    width: 100%;
}

.collage-wrapper {
    box-sizing: border-box;
    max-width: 620px;

    padding: 1em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* search area */

.main {
    width: 100%;
}

.search-area {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    align-content: center;
    justify-content: center;
    display: flex;
}

.search-area input[type=search] {
    border: 1px solid black;
    padding: .5em;
    width: 80%;
}
