<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MusicOH!</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container">

        <h1>MusicOH!</h1>
        <p>include script</p>


    </div>

    <script src="main.js"></script>
    <script src="../main.js"></script>
</body>

</html>
