@import url(https://use.typekit.net/bgf2wdh.css);
/* Imports
*/
/*  Color 
    to be used for modes later on, maybe? */
/* Main Styling */
body {
  background: #fbfdfd;
  /* animation-name followed by duration in seconds*/
  /* you could also use milliseconds (ms) or something like 2.5s */
  /* Chrome and Safari */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; }

.main-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; }

/* Draggable duplicates divs with this fucking calculation problem */
.collage-wrapper .album-box {
  width: 30%; }

.album-box {
  display: inline-block;
  box-sizing: border-box;
  margin: .3em;
  background-image: url();
  background-size: contain;
  border: 1px solid #1f1c1c;
  z-index: 999;
  touch-action: manipulation;
  cursor: pointer;
  position: relative; }
  .album-box p {
    position: absolute;
    pointer-events: none;
    top: 5em;
    left: 0;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0);
    color: transparent;
    text-shadow: 0 0 20px transparent;
    max-width: 90%;
    display: inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.alb-item {
  touch-action: manipulation; }

.album-box:hover p {
  color: black !important; }

.album-box:hover {
  background-color: rgba(255, 255, 255, 0.6) !important;
  color: #020101;
  text-shadow: 0 0 20px #000; }

.collage-wrapper > .album-box:before {
  content: "";
  display: block;
  padding-top: 100%; }

/* where albums are displayed */
.album-list {
  display: inline-block;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  height: 150px;
  padding: 1em;
  left: 0;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: baseline;
  background: black; }
  .album-list .album-type {
    height: 120px !important;
    width: 120px !important;
    margin-right: -1em; }
  .album-list .album-type img {
    max-height: 100%; }

.album-list > .album-box {
  border: none; }

/* collage part */
.collage-area {
  display: flex;
  /*animation: colorchange 30s infinite;
    -webkit-animation: colorchange 30s infinite;*/
  text-align: center; }

.collage-wrapper {
  cursor: pointer;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  padding: 1em;
  max-width: 560px !important;
  align-content: space-between;
  justify-content: space-between;
  /* box sizing */ }
  .collage-wrapper .alb-size-one {
    width: calc(96% / 3);
    height: calc(96% / 3); }
  .collage-wrapper .alb-size-two {
    width: calc(91% / 5);
    height: calc(91% / 5); }
  .collage-wrapper .alb-size-three {
    width: calc(100% / 7);
    height: calc(100% / 7); }

/* search area */
.main {
  width: 100%; }

.header-container .header-bar {
  display: flex;
  align-content: space-between;
  padding: 1em; }
  .header-container .header-bar .header-title {
    font-size: 14px;
    font-family: proxima-nova, sans-serif;
    font-weight: 700; }
  .header-container .header-bar .header-title a {
    text-decoration: none;
    color: #262020; }
  .header-container .header-bar .options-area {
    margin-left: auto; }
    .header-container .header-bar .options-area button {
      background: 0;
      font-size: 12px; }

@media only screen and (max-width: 600px) {
  .header-container .header-bar {
    display: none !important; } }

.search-area {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 1.1em;
  margin-top: -2.85em;
  align-content: center;
  justify-content: center;
  display: flex;
  min-height: 90px;
  font-family: proxima-nova, sans-serif; }
  .search-area .divider-vert {
    height: 12px;
    width: 1px;
    display: inline-block;
    background: #2c2626; }
  .search-area button {
    background: transparent;
    border: 1px solid transparent;
    text-align: center !important;
    margin: .4em;
    padding: .3em 1em .3em 1em;
    font-size: 13px; }
  .search-area button:hover {
    background: #000;
    color: #fff; }
  .search-area input[type=search] {
    display: block;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid #272222;
    padding: .5em;
    font-family: "Work Sans";
    min-width: 300px;
    font-weight: 100 !important;
    text-align: center;
    margin: .4em; }
  .search-area .btn-saveimage {
    margin: .3em;
    font-size: 13px; }

@media only screen and (max-width: 800px) {
  input[type=search] {
    min-width: 90px !important;
    display: inline-block !important; }
  .btn-sizes {
    display: none; } }

@keyframes colorchange {
  0% {
    background: #f4dfe2; }
  10% {
    background: #f5dccc; }
  20% {
    background: #f5f3cc; }
  30% {
    background: #c3e7c4; }
  40% {
    background: #c3e7e7; }
  50% {
    background: #c3d6e7; }
  60% {
    background: #bdbdee; }
  70% {
    background: #e0d6ed; }
  80% {
    background: #ecd6f2; }
  90% {
    background: #f4cee7; }
  100% {
    background: #f4dfe2; } }

@-webkit-keyframes colorchange

/* Safari and Chrome - necessary duplicate */ {
  0% {
    background: #f4dfe2; }
  10% {
    background: #f5dccc; }
  20% {
    background: #f5f3cc; }
  30% {
    background: #c3e7c4; }
  40% {
    background: #c3e7e7; }
  50% {
    background: #c3d6e7; }
  60% {
    background: #bdbdee; }
  70% {
    background: #e0d6ed; }
  80% {
    background: #ecd6f2; }
  90% {
    background: #f4cee7; }
  100% {
    background: #f4dfe2; } }

